body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
    "Microsoft YaHei", "????", Arial, sans-serif;
  /*  font-weight: 600 !important;
  font-size: 20px;
  color: #000 !important; */
}

a {
  text-decoration: none;
  color: pink;
}

ul li {
  list-style: none;
}

//表头
.filter-container {
  padding-bottom: 10px;

  .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
  }
}

.Videoindex {
  display: block;
  height: 350px;
  max-height: 350px;
  margin: 10px auto;
  .video-js .vjs-tech {
    width: 100%;
    height: 350px;
    max-height: 350px;
  }
}

.video-js .vjs-big-play-button {
  position: absolute;
  display: block;
  top: 46%;
  left: 43%;
  background: rgba(0, 0, 0, 0.7);
  border: none;
}
.video-js .vjs-big-play-button .vjs-icon-placeholder:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.vjs-controls-disabled .vjs-big-play-button,
.vjs-has-started .vjs-big-play-button,
.vjs-using-native-controls .vjs-big-play-button,
.vjs-error .vjs-big-play-button {
  display: none;
}
.vjs-paused .vjs-big-play-button {
  display: block;
}
